<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
</head>

<body>
    <p>
        Dear {{.User}} <br><br>

        Your have been invited to join the Lagos state SMEHUB as {{.Type}}. <br><br>

        Click <a href={{.Link}}>here</a> to join.<br><br>
        If you are not re-directed click the link below to join. <br><a href={{.Link}}>{{.Link}}</a> <br><br>
        
        With Compliments. <br><br>

        Your Friends at SMEHub. 
    </p>
</body>